*{
    margin:0;
}

main{
    background-image: url(../assets/background.webp);
    
}

nav, footer{
    background-color: #f5db8c;
}


#list{
    width: 1000px;
    height: 600px;
}

#logo-img{
    width: 225px;
    height: 225px;
}

